@tailwind base;
@tailwind components;
@tailwind utilities;

/* Thêm css cho thanh cuộn (tùy chọn) */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #374151;
  border-radius: 4px;
}
